.Notifications {
  border: 2px dashed #e01d3f;
  padding: 10px;
  margin: 10px;
}
/* For default priority items */
li[data-priority="default"] {
  color: blue;
}

/* For urgent priority items */
li[data-priority="urgent"] {
  color: red;
}
